<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signupstyle.css">
    <title>Sign up</title>
</head>
<body>
    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <h1>RemindMe</h1>
                </div>
            </nav>
        </div>
    </div>
    <hr>
    <main>
    <form action="/signup" method="post" id="signup">
        <div class="signup-main">
            <div class="signup-container">

                <div class="sign-up">
                <h1>Sign up</h1>
                </div>
                <div class="fill">
                <p>Fill in this form to create an account</p>
                </div>

                <div class="email">
                <label for="email"><b>Email</b></label>
                </div>

                <div>
                <input type="text" placeholder="Enter Email" class="email-input" name="email" required>
                </div>

                <div class="password">
                <label for="password"><b>Password</b></label>
                </div>

                <div>
                <input type="password" placeholder="Enter Password" class="pass-input" name="password" required>
                </div>

                <div class="button">

                    <a href="index.ejs">
                    <button type="button" id="cancel-btn">
                    Cancel
                    </button>
                    </a>

                    <a href="login.ejs">
                    <button type="submit" id="sign-up-btn">
                    Sign up
                    </button>
                    </a>
                    
                </div>

            </div>
        </div>
    </form>
    </main>

    <script src="main.js" type="script/javascript">
        
    </script>
</body>
</html>